body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
}

#graphContainer{
    position: relative;
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

canvas {
    display: block;
    margin: 0 auto;
    background: #fff;
}

.y-axis-label{
    right: 100%;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    font-size: 100px;
    text-align: center;
    width: 100%;
}
